<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <script src="madlib.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>

  <body>
    <div ng-app='app' ng-controller='mainCtrl'>
        <div class="madLibInput">
            <div ng-repeat="word in words track by $index">
                {{word}} <input type="text" ng-model="values[$index]"/>
            </div>

            <button ng-click="click()">
                go
            </button>
        </div>
        <div class="madLibOutput">
            <!-- TODO -->
        </div>
    </div>
  </body>

</html>
