<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <script src="madlib.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>

  <body>
    <div ng-app='app' ng-controller='mainCtrl'>
        <div class="madLibInput">
            <div ng-repeat="word in words track by $index">
                {{word}} <input type="text" ng-model="values[$index]" ng-input="onInputChange()"/>
            </div>
        </div>
        <div class="madLibOutput">
            <!-- TODO -->
            {{ values.join(", ") }}
        </div>
    </div>
  </body>

</html>
