body {
  color: #606;
  background-color: #22e58a;
}

header {
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  margin: 1rem;
  color: #808;
}

p.summary {
  text-align: center;
  color: #444;
}

[ng-app="app"] {
  display: flex;
  margin: 15px;
  justify-content: space-around;
  flex-flow: row wrap;
}

[ng-app="app"] > * {
  margin: 10px;
  flex-grow: 1;
  padding: 20px;
}

.madLibInput, .madLibOutput {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid currentcolor;
  transition: border-color 600ms ease,
    background-color 500ms ease;
}

.madLibInput:hover {
  border-color: #a0a;
}

.madLibOutput:hover {
  border-color: #a0a;
  background-color: #22e58a;
  color: #006;
}

.madLibInput::before {
  content: "Enter words that match these types:";
  text-align: center;
  color: #555;
  font-style: italic;
  margin-bottom: 10px;
}

.madLibOutput::before {
  content: "DUKE ORSINO:";
  text-align: center;
  color: #555;
  font-style: italic;
  margin-bottom: 10px;
}

.madLibOutput {
  min-width: 300px;
  color: #1aa590;
  background-color: #1aa590;
}

.dl-horizontal dt {
  white-space: initial;
  width: 220px;
  margin: .3em;
}

.dl-horizontal dd {
  margin-left: 240px;
}

footer {
  text-align: center;
}
